.root {
  height: 90vh;
  width: 75vw;
  margin: 0px;
  padding: 0px;
  overflow-x: clip;
}

#header {
  margin-top: 6vh;
  height: auto;
  letter-spacing: 2px;
  margin-left: 20vw;
}

#title {
  display: block;
  text-align: left;
  width: inherit;
  font-size: 2.8vw;
  width: 40vw;
  color: #003261;
}

#title div {
  height: 1vh;
}

.subtitle {
  font-size: 1.5vw;
}

#submit {
  /* background-color: #0A700E; */
  background-image: linear-gradient(
    rgba(0, 255, 100, 0.5),
    #0b0,
    #0a0,
    #090,
    #080,
    #070
  );
  color: #fff;
  height: 8vh;
  width: 15vw;
  position: absolute;
  border-radius: 10px;
  top: 9vh;
  right: 8vw;
  border: 0px;
  transition: 500ms;
}

#submit:hover {
  box-shadow: 5px 5px 30px rgba(0, 119, 40, 0.7);
}

#submit > p {
  margin-left: 2vw;
  letter-spacing: 2px;
}

#submit > i-feather {
  position: absolute;
  top: 30%;
  left: 25%;
}

.screen {
  min-height: 30vh;
  width: 75vw;
  margin: 5vh 10vw;
  position: absolute;
}

.details {
  height: auto;
  width: auto;
  border-radius: 10px;
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 0px;
  padding: 3vh 2vw 4vh 2vw;
  margin-top: 4vh;
  letter-spacing: 2px;
  line-height: 3vh;
  color: #0a3f70;
}

.titles {
  text-align: right;
  width: 15vw;
  margin-top: 1.1vh;
}

.titles > div {
  height: 5vh;
  margin-top: 2vh;
}

.data {
  text-align: left;
  width: 58vw;
}

.boxes {
  background-color: #fff;
  height: 1vh;
  width: 20vw;
  border-radius: 10px;
  overflow: none;
  font-size: 1vw;
  padding: 2vh 1vw 2vh 1vw;
  text-align: left;
  color: #0a3f70;
  border: 0px;
  margin-top: 2vh;
  margin-left: 2vw;
}

#special {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 0px;
  height: inherit;
  width: inherit;
}

#special > div {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 0px;
}

#switcher {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 0px;
  padding: 0px;
  height: 5vh;
  width: 16vw;
  border-radius: 10px;
}

#switcher > button {
  height: auto;
  border: 0px;
  width: auto;
  border-radius: 10px;
  background-color: transparent;
  transition: 500ms;
  color: #0a3f70;
}

#date-title {
  height: 5vh;
  margin-top: 3.1vh;
  margin-left: -8vw;
  text-align: right;
}

#error,
#success {
  margin: 4vh 0px;
  color: #700a0a;
  font-style: italic;
  text-align: center;
  font-weight: bold;
}

#success {
  color: #0a700e;
}

span {
  color: red;
  margin-left: 2vw;
  letter-spacing: 0px;
}
