/* You can add global styles to this file, and also import other style files */
body { 
    background-color: #A8D5FF;
    /* background-image: linear-gradient( rgba(0, 200, 255, 0.3), rgba(0, 200, 255, 0.3), rgba(0, 200, 255, 0.5), rgba(0, 200, 255, 0.7), #0ac); */
    overflow-x: clip;
}

*{
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}


/* -------- CUSTOM SCROLL BAR ---------- */
::-webkit-scrollbar {
    width: 20px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #0a3f70;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
    transition: 1s;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgb(0, 0, 0);
  }