/* You can add global styles to this file, and also import other style files */
body { 
    background-color: #A8D5FF;
}

*{
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}